<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeng.store.mapper.OrderMapper">
    <resultMap id="OrderEntityMap" type="com.zeng.store.entity.Order">
        <id column="oid" property="oid"/>
        <result column="total_price" property="totalPrice"/>
        <result column="pay_time" property="payTime"/>
        <result column="order_time" property="orderTime"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
        <association property="recvAddress" javaType="com.zeng.store.entity.Address">
            <result column="recv_province"  property="provinceName" />
            <result column="recv_city"  property="cityName" />
            <result column="recv_area"  property="areaName" />
            <result column="recv_address"  property="address" />
            <result column="recv_phone"  property="phone" />
            <result column="recv_name"  property="name" />
        </association>
    </resultMap>
    <resultMap id="OrderItemEntityMap" type="com.zeng.store.entity.OrderItem">
        <id column="id" property="id"/>
        <result column="oid" property="oid"/>
        <result column="num" property="num"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
        <association property="product" javaType="com.zeng.store.entity.Product">
            <result column="pid"  property="id" />
        </association>
    </resultMap>
    <!-- 插入订单数据：Integer insertOrder(Order order) -->
    <insert id="createOrder">
        INSERT INTO t_order (
            oid,uid, recv_name, recv_phone, recv_province, recv_city, recv_area, recv_address,
            total_price,status, order_time, pay_time, created_user, created_time, modified_user,
            modified_time
        ) VALUES (
           #{oid}, #{uid}, #{recvAddress.name}, #{recvAddress.phone}, #{recvAddress.provinceName}, #{recvAddress.cityName}, #{recvAddress.areaName},
            #{recvAddress.address}, #{totalPrice}, #{status}, #{orderTime}, #{payTime}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>
    <insert id="createOrderItem" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO t_order_item (
            oid, pid, title, image, price, num, created_user,
            created_time, modified_user, modified_time
        ) VALUES (
            #{oid}, #{product.id}, #{product.title}, #{product.image}, #{product.price},
            #{num}, #{createdUser},
            #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>
    <select id="findOrderByUid" resultMap="OrderEntityMap">
        SELECT * FROM t_order where uid=#{uid}
    </select>
    <select id="findOrderItemByOid" resultMap="OrderItemEntityMap">
        SELECT * FROM t_order_item WHERE oid=#{oid}

    </select>
</mapper>